@import 'reset';
@import 'common';

body {font-family: DXTypeB; font-size: 1.8rem;}

.container {
    button {
        padding: .5rem;
        border: none;       
        span {
            vertical-align: middle;
        } 
    }
    width: 50rem;
    margin: 10rem auto 0;
    text-align: center;
    h1 {
        font-size: 3.6rem;
    }
    .introText {
        margin: 4.8rem 0 2.4rem;
        p {
            line-height: 3.6rem;            
        }
    }
    .inputWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
        .userInput {
            width: 100%;
            margin-right: 1rem;
            border: none;
            border-bottom: .1rem solid #ccc;
        }
    }
    table{
        caption{
            visibility: hidden;
        }
        tbody:before {
            content: "-";
            display: block;
            line-height: 2.4rem;
            color: transparent;
        }      
        th {
            width: 10rem;
        }
        td {
            width: 100%;
        }
        .listItems {         
            margin: 1.6rem 0 3.2rem;     
            padding: 0 1.6rem;          
            text-align: left;
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
            }            
            li {
                display: flex;
                align-items: center;
                width: max-content;
                cursor: pointer;
                &.done{
                    text-decoration: line-through rgba(0,0,0,.5) .5rem;                
                }
                button {
                    margin-left: 1rem;
                }
            }        
        }
    };
}